<mat-toolbar id="header" color="primary">
  <span id="title">Tasks Organizer</span>
  <button mat-button routerLink="/">Tasks</button>
  <button mat-button routerLink="/about">About</button>
</mat-toolbar>

<router-outlet></router-outlet>

<div id="footer">
  An example app using a <a target="_blank" href="https://gitlab.com/kaleab.tech/meseret">meseret</a> backend.<br>
  Made with &hearts; in Addis Ababa.<br>
  <br>
  <a target="_blank" href="https://gitlab.com/kaleab.tech/meseret#LICENSE">MIT Licence</a> &copy; 2017 Kaleab S. Melkie.
</div>
