@import '../../../styles/vars';

#tasks-container {
  padding: 10px;

  text-align: center;

  mat-card {
    display: flex;

    margin: 10px;
    padding: 24px 24px 6px;

    text-align: left;

    .task-command-container {
      padding: 16px 16px 0 0;

      text-align: center;

      .del-btn {
        margin: 24px 0 0 -8px;
      }
    }

    mat-form-field {
      width: 100%;
    }
  }

  #more-btn {
    margin-top: 40px;
  }

  #nothing {
    padding: 40px 20px 20px;

    text-align: center;
  }
}

#add-btn {
  position: fixed;

  right: 20px;
  bottom: 20px;
}
